.list_item {
    display: flex;
    flex-flow: row nowrap;
    padding: 2rem;
    justify-content: flex-start;
    align-items: center;
	border: 1px solid gray;
	border-left: 0;
	border-right: 0;
	border-bottom:0 ;
}

.avatar {
    width: 70px;
	height: 70px;
	border-radius: 2px;
    margin-right: 3rem;
}

.username {
	color: blue;
	font-size: 1.12rem;
}